* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
}

.sidebar {
    grid-row: 1 / -1;
    grid-template-rows: min-content 5fr;
    display: grid;
    background-color: #1992d4;
    color: white;
    fill: white;
    font-weight: bold;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 1rem;
    padding: 1rem 0rem 1rem 1rem;
}

.brand > svg {
    height: 3rem;
}

.nav > *, .tools > * {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem 0.5rem 2rem;
    font-size: 1.2rem;
}

.nav {
    padding-bottom: 2rem;
}

.nav > * > *, .tools > * > *, .icons, button, .top-Header svg {
    cursor: pointer;
}

.nav p:hover, .tools p:hover {
    text-decoration: underline;
}

.header {
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 2rem;
    padding-bottom: 1rem;
}

.top-Header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
    padding-top: 1.2rem;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.searchbar > * {
    height: 1.5rem;
}

input {
    width: 80%;
    border-radius: 15px;
    padding-left: 8px;
    background-color: #e2e8f0;
}

.user-Infos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.user-Infos img:hover, .trending img:hover {
    cursor: pointer;
    border: 2px solid #1992d4;
    height: 31px;
    width: 31px;
}

.bottom-Header img:hover {
    cursor: pointer;
    border: 2px solid #1992d4;
    height: 60px;
    width: 60px;
}

.trending p:hover {
    cursor: default;
    text-decoration: underline;
}

.user-Infos > * {
    flex-shrink: 0;
}

.bottom-Header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
    align-items: center;
    font-weight: bold;
}

.welcome-User {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
}

.welcome-User img {
    grid-row: 1 / -1;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-left: 3rem;
}

.buttons {
    display: flex;
    gap: 1.5rem;
}

.buttons button {
    background-color: #1992d4;
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 5rem;
    color: white;
    font-weight: bold;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, min-content);
    padding: 2rem 1.5rem 0rem 1rem;
    gap: 1rem 1.5rem;
    background-color: #e2e8f0;
    box-shadow: inset #d4dae1 0px 3px 5px 0;
}

.projects {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: min-content;
    gap: 1rem;
}

.projects > h4 {
    grid-column: 1 / -1;
}

.projects > div[class*="project"] {
    display: grid;
    grid-template-rows: min-content 3fr min-content;
    background: linear-gradient(to right, #f0b429 2%, white 2%); 
    padding: 1.5rem 5%;
    border-radius: 2%;
    box-shadow: #d4dae1 5px 5px 5px 0px;
    font-size: 0.9rem;
}

.main p {
    color: #646262;
}

.main h4 {
    line-height: 1.5;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: #d4dae1 5px 5px 5px 0px;
    border-radius: 2%;
    font-size: 0.8rem;
}

.maintenance, .community {
    border-bottom: 1px dashed #646262;
    padding-bottom: 1rem;
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: #d4dae1 5px 5px 5px 0px;
}

.trending > * {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-size: 0.9rem;
}

.trending > div[class*="trend"] > img {
    grid-row: 1 / -1;
}

svg {
    height: 1.5rem;
}

img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}